* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 1.6rem;
}

/* ============Common=========== */
.main-content {
    margin: 0 auto;
    padding: 0 15px;
}

.flex-row {
    display: flex;
}

.slogan {
    color: #fff;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 20px;
}

.dot {
    width: 6px;
    height: 6px;
    background-color: #634700;
    border-radius: 50%;
}

.dot.acctive {
    background-color: #ffb900;
}

.row {
    display: flex;
}

/* ============Header=========== */
.header {
    background-color: #000;
    max-width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: -132px;
    z-index: 1;
}

.main-content {
    width: 1200px;
    padding: 0 12px;
}

.header .flex-row {
    justify-content: space-between;
    align-items: center;
}

.search-field {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 999px;
    border-color: rgba(255, 255, 255, 0.09);
    color: currentColor;
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.09);
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 240px;
    cursor: default;
}

.logo_team {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.header-button {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    min-width: 180px;
}

.container-search input {
    min-width: 240px;
    /* max-width: 250px; */
    padding: 8px 16px;
}

.container-search {
    position: relative;
}

.ti-search {
    position: absolute;
    color: #fff;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: 9px;
}

.ti-search:hover {
    text-align: center;
    background-color: #bababa;
    color: #000;
    width: 20%;
    border-radius: 999px;
    transition: all ease 1s;
}

.name-shop {
    padding: 3px;
    color: #bababa;
    font-size: 1.5rem;
}

.header-button_devider {
    border: 1px solid #ccc;
    margin: 0 12px;
    padding: 20px 0;
    border-color: rgba(255, 255, 255, 0.2);
}

.header-button_shopping,
.header-button_user {
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 8px;
    cursor: pointer;
}

.header-button_shopping:hover,
.header-button_user:hover {
    background-color: #ccc;
    color: #000;
}

/* ============Navigation=========== */
.nav {
    padding: 12px 0;
    display: flex;
    justify-content: center;
}

.nav ul li {
    text-align: center;
}

.nav > ul {
    display: flex;
    align-items: center;
}

.nav > ul li {
    display: inline-block;
    padding: 12px 16px;
    min-width: 135px;
}

.nav > ul li:hover {
    transition: all ease .1s;
}

.tag-father:hover .list-item li{
    transition: all ease-in-out .5s;
}

.nav > ul li:hover .list-item {
    width: calc(100% - 1.8px);
}

.tag-father:hover .list-item {
    display: block;
}

.tag-father {
    position: relative;
}

.list-item {
    position: absolute;
    display: none;
    background-color: #fff;
    margin: 12px 0 0 -16px;
    width:100%;
    border: 1px solid #ebebeb;
    box-sizing: content-box;
}

.list-item li {
    width: 100%;
    box-shadow: 0 1px #ebebeb;
}

.nav li:hover .ti-angle-down,
.nav ul li:hover a{
    color: #000;
}

.nav ul li:hover,
.list-item li:hover {
    background-color: #ccc;
    cursor: pointer;
}

.nav .ti-angle-down {
    padding-left: 4px;
    color: #fff;
}


/* ============Main=========== */
main {
    margin: 30px 0;
}


/* ============Banner=========== */
.banner .main-content{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ti-angle-left,
.ti-angle-right {
    display: inline-block;
    font-size: 2rem;
    top: 50%;
    padding: 12px;
    border-radius: 50%;
    background-color: #ebebeb;
}

.ti-angle-left:hover,
.ti-angle-right:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    transition: all .5s;
}

.banner .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 24px 12px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

/* ============Outstanding=========== */
.otd {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.otd .content {
    width: 50%;
    max-width: 50%;
    text-align: center;
}

.otd .title {
    font-size: 3rem;
    font-weight: 700;
}

.otd .container-search {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.otd .search-field {
    width: 100%;
    height: 60px;
    background-color: #ebebeb;
    padding: 8px 30px;
}

.otd .ti-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}

.otd .ti-search:hover {
    top: 2px;
    right: 2px;
    width: 100px;
    height: 56px;
}

.otd .desc {
    margin-top: 30px;
    color: #6c757d;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

.otd .row {
    justify-content: center;
    margin-top: 10px;
}

.acction-btn {
    min-width: 40px;
    border: 2px solid #000;
    border-radius: 999px;
    padding: 6px 20px;
    margin: 5px 10px;
}

.acction-btn:hover,
.acction-btn:hover a {
    cursor: pointer;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.acction-btn a {
    color: #000;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}