* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 1.6rem;
}

/* ============Common=========== */
.main-content {
    margin: 0 auto;
    padding: 0 15px;
}

.flex-row {
    display: flex;
}

.slogan {
    color: #fff;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

/* ============Header=========== */
.header {
    background-color: #000;
    max-width: 100%;
}

.header .flex-row {
    justify-content: space-between;
    align-items: center;
}

.header .search-field {
    color: #fff;
    background-color: rgba(255,255,255,.2);
    border-radius: 999px;
    border-color: rgba(255,255,255,.09);
    color: currentColor;
    box-shadow: none;
    border-color: rgba(0,0,0,.09)
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 240px;
}

.logo_team {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.header-button {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    min-width: 180px;
}

.container-search input{
    min-width: 240px;
    max-width: 250px;
    padding: 8px 16px;
}

.container-search {
    position: relative;
}

.ti-search {
    position: absolute;
    color: #fff;
    right: 18px;
    top: 10px;
    cursor: pointer;
}

.slogan {
    padding: 3px;
}

.header-button_devider {
    border: 1px solid #ccc;
    margin: 0 12px;
    padding: 20px 0;
    border-color: rgba(255, 255, 255, 0.2);
}

.header-button_shopping,
.header-button_user {
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 8px;
    cursor: pointer;
}

/* ============Navigation=========== */
.nav {
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li {
    text-align: center;
}

.nav > ul{
    display: flex;
}

.nav > ul li {
    display: inline-block;
    padding: 12px 16px;
    min-width: 135px;
}

.tag-father:hover .list-item {
    display: block;
}

.tag-father {
    position: relative;
}

.list-item {
    position: absolute;
    display: none;
    background-color: #fff;
    margin: 12px 0 0 -16px;
    width: 100%;
}

.list-item li {
    width: 100%;
}

.nav > ul li:hover a,
.list-item a {
    color: #000;
}

.nav > ul li:hover,
.list-item li:hover {
    background-color: #ccc;
}

.nav .ti-angle-down {
    color: #fff;
}

/* ============Banner=========== */
